[submodule "BrandonTrigueros/.obsidian/plugins/obsidian-task-timeline-plugin"]
	path = BrandonTrigueros/.obsidian/plugins/obsidian-task-timeline-plugin
	url = https://github.com/BrandonTrigueros/obsidian-task-timeline-plugin.git
